---
import Section from "../Section.astro"

import {work} from "../../../cv.json"
---

<Section title="Experiencia laboral">
    <ul>
        {
            work.map(({name, startDate, endDate, position, summary, highlights}) =>{
                const startYear = new Date(endDate).getFullYear()
                const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual"
                const years = '${startYear} - ${endyear}'
                    return(
                        <li>
                            <article>
                                <header>
                                </header>
                                <footer>
                                </footer>
                                <h3>{name}</h3>
                                <h4>{position}</h4>
                                <p>{summary}</p>
                            </article>
                        </li>
                    )
                }
            )
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    article h3 {
        color: #111;
    }

    article h4 {
        color: #222;
        font-weight: 400;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        color: #555;
        font-size: 0.85rem;
    }
</style>